<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav id="navBar" class="nav-full-width" th:fragment="navBarMenu (pageTitle)">
    <div class="container">
        <a href="#." class="logo-small"></a>
        <ul id="menu" class="nav-menu list-unstyled pull-left sel">
            <!-- Home -->
            <li th:classappend="${active == 'home'} ? 'sel' : ''"><a th:href="@{/home}">home</a></li>

            <!-- Contests -->
            <li th:classappend="${active == 'contests'} ? 'sel' : ''">
                <a th:href="@{/contests}">Contests</a>
                <ul class="sub-menu">
                    <!-- Contests Submenu -->
                    <li th:if="${loggedInUser != null}"><a th:href="@{/contests/create}">Create Contest</a></li>
                    <li th:if="${loggedInUser != null}"><a th:href="@{/contests/judge}">Judge Contests</a></li>
                </ul>
            </li>

            <!-- My Posts -->
            <li th:if="${loggedInUser != null}">
                <a th:href="@{/user/posts}">My Photo Posts</a>
            </li>

            <!-- Login / Profile -->
            <li th:if="${loggedInUser == null}" th:classappend="${active == 'login'} ? 'sel' : ''">
                <a th:href="@{/auth/login}" style="color: #1ab188;">Login</a>
            </li>

            <li th:if="${loggedInUser != null}">
                <a th:href="@{/user/}" style="color: #1ab188;">Profile</a>
                <ul class="sub-menu">
                    <!-- Profile Submenu -->
                    <li><a th:href="@{/profile/edit}">Edit Account</a></li>
                    <li><a th:href="@{/profile/stats}">My Stats</a></li>
                    <li><a th:href="@{/auth/logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="social">
            <a class="fb" href="#."><i class="fa fa-facebook"></i></a>
            <a class="fb" href="#."><i class="fa fa-twitter"></i></a>
            <a class="fb" href="#."><i class="fa fa-pinterest"></i></a>
            <a class="fb" href="#."><i class="fa fa-google-plus"></i></a>
            <a class="fb" href="#."><i class="fa fa-linkedin"></i></a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</nav>
</html>
