<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="searchBarAndLogo">

    <a class="logo" th:href="@{/home}"><img src="/images/logo.png" alt="" style="width: 150px; height: auto;" /></a>
<!--    <div class="search">-->
<!--        <input name="" type="text" onBlur="if(this.value == '') { this.value='Search'}" onFocus="if (this.value == 'Search') {this.value=''}" value="Search">-->
<!--        <a class="search-icon" href="#."><i class="fa fa-search"></i></a>-->
<!--    </div>-->

</div>

</html>