@charset "utf-8";
/* CSS Document */


body{
	background:#fff;
	margin:0px;
	padding:0px;
	color:#333333;
	font-family: 'SourceSansProLight';
}
*{
	margin:0px;
	padding:0px;
}
h1{ font-size:24px;}
.heading h2{ background:#000; height:4px; width:100%;}
h2{ font-size:20px; font-family: 'itc_lubalin_graph_stddemi'; color:#333333;}
h3{ font-size:16px; font-family: 'itc_lubalin_graph_stddemi'; color:#333333;}
h4{ font-size:14px;}
p{
	color:#797979;
	font-size:14px;
	font-family: 'SourceSansProLight';
	line-height:21px;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
a img {
	border: none;
}
.height10 {
	height: 10px;
}
.height15 {
	height: 15px;
}
.height20 {
	height: 20px;
}
.height25 {
	height: 25px;
}
.height30 {
	height: 30px;
}
.height35 {
	height: 35px;
}
.clear {
	clear: both;
}
#wrap {
}
#wrap .container, .container {
	margin: 0 auto;
	width: 1170px;
}
.error {
    background: none repeat scroll 0 0 #F9C8C8 !important;
    border: 1px solid #B42727 !important;
    color: #000000 !important;

}
.success {
    background: none repeat scroll 0 0 #C2E5AC;
    border: 1px solid #54AF1E;
    color: #54AF1E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0 16px;
    padding: 10px 17px 10px;
    text-transform: uppercase;
}
.boxed-version{ max-width:1210px; margin:0 auto; background:#fff; padding-bottom:25px;}
.bg{ background:url(../images/bg.png);}
.bg .foot-bot{ background:url(../images/footer-bg.png); border-top:1px solid #d7d7d7; padding:20px 0 15px}

/*header*/

#header{
	background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    padding: 30px 0 0;
    position: fixed;
	z-index:5;
    top: 0;
    transition: all 800ms ease 0s;
    width: 100%;
}
#header .logo{
	float:left;
}
#header .search{
	float:right;
	margin:0 6px 0 0;
}
#header .menu{
	float:right;
}
#header .search input[type=text]{
	background:#fff;
	width:234px;
	height:38px;
	padding:0 40px 0 14px;
	border:solid 1px #d0d0d0;
	color:#7f7f7f;
	font-size:14px;
	float:left;
	font-family: 'itc_lubalin_graph_stddemi';
}
#header .search a.search-icon{
	color:#cacaca;
	position: absolute;
	margin: 11px 0 0 -30px;
}

.header-small .logo, .header-small .search, .menu{ display:none;}
.header-small #header{ padding:0;}
.header-small .nav-full-width{ margin:0;}
.header-small .fluid_container {
    margin-top: 49px;
}
.header-small .logo-small{ display:block !important;}
.header-small .nav-full-width .menu{ display:block !important;}
/*mega menu*/

.nav-full-width{background:#333333; margin:80px 0 0; }
.nav-full-width .container{ position:relative}
.mega-dropdown{ position:static !important;}
.mega-menu-inner{ background:#181818; padding:1px;}
.mega-menu-inner .subnav{ width:314px; text-align:center; margin: 20px 24px 20px 20px; border-right:solid 1px #464646; padding: 0 46px 0 0; float:left;}

.mega-menu-inner .subnav.last{padding:0px; border:none;}
.mega-menu-inner .subnav a{ padding:0px; display:block; }
.mega-menu-inner a.subnavi img{ width:100%; }

.mega-menu-inner .subnav span.title{ color:#fff; font-size:16px; font-family: 'itc_lubalin_graph_stddemi'; text-transform:uppercase;}
.mega-menu{ position:absolute; left:0; z-index:5555; width:100%; border-bottom:solid 3px #0b0b0b;}
.mega-menu ul{ list-style:none; width:18.5%; float:left; padding:0; margin:0 0 0 17px;}
.mega-menu ul li a{ border:0 !important; border-top:1px solid #E5E5E5 !important; margin:0 !important;}
.mega-menu ul li a:hover{ background:none !important;}
.mega-menu ul li span.heading{display: block;font-size: 18px;    line-height: 40px; min-height: 45px; padding-left: 14px;}
.mega-menu-inner > img {float: right;}
.mega-menu-inner .fa-caret-up{color: #FFFFFF; display: block; font-size: 24px; left: 70px; position: absolute; top: 13px;}

.mega-dropdown .mega-menu{ display:none;}
.mega-dropdown:hover .mega-menu{ display:block;}

/*nav*/

.nav-menu{ }
.nav-menu li{ float:left; position:relative; line-height: 48px;}
.nav-menu li:hover{ background:#181818 !important;}
.nav-menu li.sel{ background:#484848;}

.nav-menu li a{ color:#fff; padding:12px 20px; font-family: 'itc_lubalin_graph_stddemi'; text-transform:uppercase; font-size: 14px;}
.nav-menu li a:hover{color:#fff;}


/*sub menu*/

.nav-menu li ul.sub-menu{ left: 0;list-style: none outside none;padding:0;position: absolute;z-index: 5555;width: 205px;}
.nav-menu li ul.sub-menu li.menu-item-has-children ul li:first-child:before{ border-width:0;}
.nav-menu li ul.sub-menu li a{ line-height:22px; background:#181818; color:#fff;}
.nav-menu li ul li{ float:none; position:relative;}
.nav-menu li ul li:first-child a{}
.nav-menu li ul li a{ margin:0; display:block; background:#fff;}
.nav-menu li ul li a:hover{ background:#333333;}
.nav-menu li ul li.menu-item-has-children{ position:relative;}
.nav-menu li ul li.menu-item-has-children ul{ top:0;left: 100%; padding-top:0;}
.nav-menu li ul{ display:none;}
.nav-menu li:hover ul{ display:block;  min-width: 170px;}
.nav-menu li:hover ul li ul{ display:none;}
.nav-menu li:hover ul li:hover ul{ display:block;}
.nav-menu li:hover ul li:hover ul li ul{ display:none;}
.nav-menu li:hover ul li:hover ul li:hover ul{ display:block;}

/* Подменюто с категориите - цял екранен прозорец */
.categories-menu {
	display: none;
	position: absolute;
	top: 100%; /* Показване под навигацията */
	left: 50%; /* Центриране спрямо ширината на страницата */
	transform: translateX(-80%) scale(0.5); /* Намаляваме размера на 50% и центрираме по хоризонтала */
	transform-origin: top center; /* Задаваме началната точка за трансформация да е центърът отгоре */
	width: auto; /* Заема цялата ширина */
	background-color: #f9f9f9;
	padding: 20px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	z-index: 10;
	grid-template-columns: repeat(5, 1fr); /* Винаги 10 категории на ред */
	gap: 0; /* Премахваме разстоянието между елементите */
	justify-content: center;
	border-radius: 0; /* Без заоблени краища, за цял екранен ефект */
	transition: all 0.3s ease-in-out;
}

/* Показване на подменюто при hover */
.navigation-menu-item:hover .categories-menu {
	display: grid;
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) scale(1); /* Връщаме мащаба до 100% при ховър */
	transform-origin: top center;
}

/* Категориите като единен блок */
.categories-menu li {
	list-style: none;
	text-align: center;
	border: 1px solid #e0e0e0; /* Лек контур между категориите */
	transition: transform 0.3s ease;
}

.categories-menu li:hover {
	transform: scale(1.05);
	background-color: #fff;
}

/* Стилове за изображенията в категориите */
.category-image {
	width: 100%; /* Заема цялата ширина на елемента */
	height: 120px;
	object-fit: cover;
	border-bottom: 1px solid #e0e0e0; /* Лек контур под изображението */
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.category-image:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Текстът под изображението */
.categories-menu span {
	display: block;
	padding: 10px;
	font-size: 1rem;
	font-weight: bold;
	color: #333;
	background-color: #f0f0f0; /* Лек фон за контраст на текста */
	transition: background-color 0.3s ease;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.categories-menu li:hover span {
	background-color: #e0e0e0; /* По-тъмен фон при ховър */
}

/* Анимация при показване и скриване на подменюто */
.categories-menu {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%) scale(0.5);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.navigation-menu-item:hover .categories-menu {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.nav-full-width .social{background: none repeat scroll 0 0 #484848;float: right; padding: 15px 16px 10px;}
.nav-full-width .social a.fb{ color:#fff; margin: 0 8px;
}
.nav-full-width .social a.fb:hover{ color:#CCC; 
-moz-transform: rotate(-360deg);
-moz-transition: all 0.8s ease-in-out 0s;
-webkit-transform: rotate(-360deg);
-webkit-transition: all 0.8s ease-in-out 0s;
-ms-transform: rotate(-360deg);
-ms-transition: all 0.8s ease-in-out 0s;
transform: rotate(-360deg);
transition: all 0.8s ease-in-out 0s;

}
.nav-full-width .social i{ font-size:22px;}


/*banner*/

#camera_wrap_4 { bottom: 0; height: 50%; left: 0; margin-bottom: 0!important; right: 0; top: 0; }
.camera_bar { z-index: 2; }
.camera_thumbs { bottom: 0; left: 0;  position: absolute;  width: 100%; z-index: 1; }
.camera_thumbs_cont { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
.camera_overlayer { opacity: .1; }

.banner-detail{ background:rgba(255,255,255,0.8); width:288px; float:right; height:320px; padding:0 25px; }

.banner-detail h1{ font-size:30px; font-family: 'itc_lubalin_graph_stddemi'; color:#333333; margin:70px 0 0 0; text-transform:uppercase;}
.banner-detail p{ font-size:16px; margin:5px 0 0 0;}
#camera_wrap_5 .banner-detail{ width:500px; background:none; margin-top: 235px;   float:left; padding:0 0; }
#camera_wrap_5 h1{ background:rgba(255,255,255,0.8); margin:0px; display:inline-block !important; padding:5px 20px 5px 10px; font-weight:normal;}
#camera_wrap_5 p{ background:rgba(255,255,255,0.8); display:inline-block !important; padding:10px 20px 10px 10px; font-size:24px;}
#camera_wrap_5 .banner-detail a.more{  background:#fff; display:none !important; padding:10px 20px 10px 10px; text-decoration:none;}
.banner-detail a.more{ font-size:14px; text-transform:uppercase; color:#333333; text-decoration:underline; font-family: 'itc_lubalin_graph_stddemi'; margin:5px 0 0 0; float:left;}
.banner-detail a.more:hover{ text-shadow:0 0px 2px #C9C9C9; 
}
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
		  -webkit-filter: grayscale(100%);
		  -moz-filter: grayscale(100%);
  		  filter: grayscale(100%);
		  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
 
.bw:hover {
  -webkit-filter: grayscale(0);
		  -moz-filter: grayscale(0);
  		  filter: grayscale(0);
		  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

/*content*/


#content{
	margin:30px 0 0 0;
}
#content .sub-page{
	margin:160px 0 0 0;
}
.date{
	background:url(../images/date.png) no-repeat;
	width:62px;
	height:67px;
	float:left;
	margin:12px 0 0 12px;
	position:absolute;
	text-align: center;
	z-index:1;
}
.strong img{ width:100%; }
.date .date-month{
	color:#fff;
	font-size:14px;
	font-family: 'itc_lubalin_graph_stddemi';	
	margin: 10px 0 0 0;
	display: block;
}
.date .year{
	color:#000000;
	font-size:16px;
	font-family: 'itc_lubalin_graph_stddemi';	
	margin: 10px 0 0 0;
	display: block;
}
#content .strong{
	width:366px;
	float:left;
	text-align:center;
	background:#f9f9f9;
	padding:0 0 20px 0;
}
#content .strong h2{
	text-transform:uppercase;
	margin:20px 0 0 0;
}

#content .photography{
	width:366px;
	float:right;
	text-align:center;
	background:#f9f9f9;
	padding:0 0 26px 0;
}
#content .photography img{
	width:100%;
}
#content .photography h1{
	text-transform:uppercase;
	margin:27px 0 0 0;
	font-family: 'itc_lubalin_graph_stddemi'; color:#333333;
	font-size:34px;
}
#content .photography a.more-photos{
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi'; color:#333333;
	font-size:16px;
	margin:15px 0 0 0;
	display:block;
}
#content .black-day{
	float:left;
	margin:0 0 0 30px;
}
#content .black-day img{
	width:100%;
}

#content .black-day .video{
	background:#f9f9f9;
	padding:10px;
	margin:23px 0 0 0;
}
.news{ float:left; background:#dcdcdc; padding:14px; margin:0 10px 0 0; }
#ticker-area{
	margin:0 0 0 0;
	background:#f5f5f5;
	padding:15px;
}
#ticker-area .apple{
	float:right;
	color:#f00;
	margin:50px 0 0 0 !important;
}
#content .black-day .video img{ width:100%;}
#content .black-day .video .v-player{
	height:60px; width:60px; float:left; background:url(../images/player-icon.png) no-repeat; position:absolute; margin: 82px 0 0 160px;
}
#content .black-day iframe{
	height:204px;
}
.heading{ background:url(../images/heading-divider.jpg) repeat-x 0 12px; text-align:center;  }
.heading h2{ background:#fff; display: inline; padding:0 15px; text-transform:uppercase;}
#content .left-sec{
	width:777px;
	float:left;
	margin:30px 0 0 0;
}
#content .left-sec.last{
	margin:0;
}
#content .recent-post{
	width:777px;
	float:left;
	margin:0 0 0 0;
}
#content .recent-post.recent-post2{ margin:30px 0 0 0;}
#content .author-sec{ width:46%; float:left; margin:0 32px 0 0;}
#content .author-sec.last{  margin:0 0px 0 0;}
#content .author-sec .detail{ border-bottom:solid 1px #CCC; padding: 0 0 16px 0; margin: 0 0 16px 0;}
#content .author-sec img{ float:left; margin:0 10px 0 0;}
#content .author-sec .text h4{ font-size:18px; font-family: 'itc_lubalin_graph_stddemi';}
#content .author-sec .text p{ line-height:18px; margin:5px 0 0 0;}
#content .author-sec .text a{ color:#333333; font-size:11px; font-family: 'itc_lubalin_graph_stddemi'; text-transform:uppercase;}
#content .author-sec .text a:hover{ color:#000;}

#clients .mask{ height:50px !important;}
.mask{
	height:428px !important;
}
.view{
	margin:10px 0 0 0;
}
.view a{
	color:#666666;
	margin:0 12px 0 0;
}
.view i{
	margin:0 5px 0 0;
	font-size:13px;
}
.view a:hover{
	color:#999999;
}
a.read-more{
	background:#333333;
	color:#fff;
	font-size:12px;
	padding:8px 30px;
	text-transform:uppercase;
	margin:12px 0 0 0;
	float:left;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .recent-post .recent-sec{
	width:372px;
	float:left;
	margin:30px 0 0 0;
}
#content .recent-post .recent-sec img{
	width:100%;
}
#content .recent-post .recent-sec.right{
	float:right;width:372px;
}
#content .recent-post .recent-sec h3{
	margin:15px 0 0 0;
}
#content .recent-post .recent-sec span{
	font-size:12px;
	color:#909090;
	font-style:italic;
	background:none;
}
#content .recent-post .recent-sec p{
	margin:10px 0 0 0;
}
a.read-more{
	background:#333333;
	color:#fff;
	font-size:12px;
	padding:8px 30px;
	text-transform:uppercase;
	margin:12px 0 0 0 !important;
	float:left;
	font-family: 'itc_lubalin_graph_stddemi';
}
a.read-more:hover{
	background:#000;
}
#content .tabs{
	background:url(../images/tab-bg.jpg) repeat;
	width:352px;
	margin:30px 0 0 0;
	float:right;
	padding:7px;
}
#content .tabs .popular{
	float:left;
	width: 306px;
	padding: 0 22px 20px 22px;
	margin:20px 0 0 0;
	background:#FFF;
	border-bottom:solid 1px #f2f2f2;
}
#content .tabs .popular img{
	float:left;
}
#content .tabs .popular .detail{
	float:left;
	width: 224px;
margin: 0 0px 0 15px;
}
#content .tabs .popular .detail h4{
	font-size:14px;
	color:#333333;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .tabs .popular .detail p{
}
#content .tabs .popular .detail span{
	font-size:12px;
	color:#909090;
	font-style:italic;
	background:none;
}
#content .tabs .tags{
		padding: 20px 22px;
}
#content .tabs .tags a{
	background:#fff;
	color:#b2b2b2;
	font-size:11px;
	font-family: 'itc_lubalin_graph_stddemi';
	border: solid 1px #b2b2b2;
	text-transform:uppercase;
	float:left;
	margin:0 5px 5px 0;
	padding:9px 18px;
}

#content .tabs .tags a:hover{
	background:#b2b2b2;
	color:#fff;
}
#content .latest-article{
	margin:30px 0 0 0;
}
#content .latest-article .art-detail{
	text-align:center ; 
}
#content .latest-article .art-detail h3{
	text-transform:uppercase;
	margin: 15px 0 0 0;
}
#content .latest-article .art-detail a{
	margin:5px 0 0 66px;
}


/*footer*/


#footer{
	margin:30px 0 0 0;
}
.newsletter{
	border:solid 1px #e0e0e0;
	padding:18px;
}
.newsletter .text{
	float:left;
}
.newsletter .text h1{
	font-size:24px;
	color:#333333;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
.newsletter .text span{
	font-size:16px;
}
.newsletter .email{
	float:right;
}
.newsletter .email input[type=text]{
	width:410px;
	border:none;
	height:48px;
	font-size:14px;
	padding:0 0 0 14px;
	margin: 0 -3px 0 0px;
	background:#f4f3f3;
}
.newsletter .email a.subscribe{
	color:#fff;
	background:#333333;
	text-transform:uppercase;
	font-size:16px;
	font-family: 'itc_lubalin_graph_stddemi';
	padding:13px 26px;
}
.newsletter .email a.subscribe:hover{ background:#000}
#footer .foot-sec{
	float:left;
	width:340px;
	margin:25px 114px 0 0;
}
#footer .foot-sec.sec2{
	float:left;
	width:340px;
	margin:25px 0px 0 0;
}
#footer .foot-sec.sec3{
	float:right;
	margin:25px 0 0 0;
}
#footer .foot-sec .menu{
	float:left;
	display:block !important;
}
#footer .foot-sec .menu.menu2{
	float:right;
}
#footer .foot-sec span.title{
	font-size:18px;
	font-family: 'itc_lubalin_graph_stddemi';
	color:#333333;
	text-transform:uppercase;
}
#footer .foot-sec .menu ul{
	margin:10px 0 0 0;
}
#footer .foot-sec .menu li{
	line-height:27px;
}
#footer .foot-sec .menu a{
	font-size:14px;
	color:#535353 !important;
}
#footer .foot-sec .menu a:hover{
	color:#000;
}
#footer .foot-sec .payment{
	margin:15px 0 0 0;
}
#footer .foot-sec .share img{
	margin:10px 0 0 0;
}
#footer .foot-sec .payment img{
	margin:10px 0 0 0;
}
#footer .foot-sec .contact img{
	margin:10px 0 0 0;
}

#footer .foot-sec .contact span.number{
	font-size:13px;
	font-family: 'itc_lubalin_graph_stddemi';
	margin:0 0 23px 0;
	display:block;
}
.foot-bot{
	background:#f2f2f2;
	border-top:solid 1px #e3e3e3;
	padding:15px 0;
	margin:30px 0 0 0;
}
.foot-bot .social{
	float:left;
}
.foot-bot .social a{
	color:#333333;
	font-size: 20px;
margin: 0 12px 0 0;
}
.foot-bot .social a:hover{ color:#999}
.foot-bot p{
	font-size: 12px;
	float:right;
}

/*footer dark*/

#footer-dark{ background:#565656; margin:30px 0 0 0;}
#footer-dark .dark-left { float:left; width:452px; margin:30px 0 0 0;}
#footer-dark .dark-left .footer-slider{ margin:30px 0 0 0; position:relative}
#banner-slider{  float:left; width:400px;}
#footer-dark .dark-middle{ float:left; width:210px; margin:30px 0 0 62px;}
#footer-dark .dark-middle a.sec{ margin:0 0 15px 0; float:left;}
#footer-dark .dark-right{ float:right; width:392px; margin:30px 0 0 0;}
#footer-dark .dark-right img{ max-width:100%;}
#footer-dark .dark-right .about{  margin:30px 0 0 0;}
#footer-dark .dark-right .about p{  margin:5px 0 0 0; font-size:16px; text-align:justify; color:#cfcfcf;}
#footer-dark  h3{ font-size:14px; font-family: 'itc_lubalin_graph_stddemi'; color:#fff; text-transform:uppercase;}
#footer-dark .dark-left ul{
	margin:0 0 0 0;
}
#footer-dark .dark-middle img{ width:100%;}
#footer-dark .dark-middle p{ color:#e3e3e3;}
#footer-dark .dark-left li{
	border-bottom:solid 1px #656565;
}
#footer-dark .dark-left li:hover{
	background:#4C4C4C;

}
#footer-dark .dark-left a{
	line-height:42px;
	color:#ffffff;
	display:block;
	margin:0 0 0 5px;
	font-size:14px; 
}
#footer-dark .dark-left a span{
	 float:right;
	 margin: 0 15px 0 0;
}
#footer-dark  h4{
	color:#fff;
	font-size:18px;
	margin:0 0 30px 0;
	font-family: 'itc_lubalin_graph_stddemi';
}
#footer-dark .dark-right .social{ margin:15px 0 0 0;}

#footer-dark .dark-right .social a{
	color:#c6c6c6; 
	font-size: 22px;
margin: 0 12px 10px 0;
float:left;
}
#footer-dark .dark-right .social a:hover{
	color:#fff; 
}

#footer-dark .foot-bot{
	border-top:1px solid #5b5b5b; 
	text-align:center;
	background:#454545;
}
#footer-dark .foot-bot p{
	float:none;
	color:#949494;
}





#content .right-sec{
	width:365px;
	float:right;
}
#content .right-sec .reviews{
	margin:30px 0 0 0;
}
#content .right-sec .reviews .rating{
	background:#fff;
	margin:10px 0 0 0;
	border:solid 1px #dbdbdb;
	padding:15px;
}
#content .right-sec .reviews .rating img{
	float:right;
}
#content .right-sec .reviews .rating span{
	font-family: 'itc_lubalin_graph_stddemi';
	font-size:14px;
	float:left;
}
#content .right-sec .authors{
	margin:30px 0 0 0;
}
#content .people{ margin:30px 0 0 0; float: left;}
#content .right-sec .authors .people{
	margin:20px 0px 0 0px;
	float:left;
}
#content .right-sec .authors a{
	margin:1px 1px 0 0px;
	float:left;
}
.skimiler{float: left;margin:-15px auto 0px 0px;}
.skiller {margin:20px 0 0 0;font-size: 12px;line-height: 2em;position: relative; display:block;}
.col { width:365px;}
#skill {list-style: none outside none;}
#skill li {background:#f9f9f9;height: 42px;margin-bottom: 5px;width: 365px;}
#skill li em { position:relative; float: left;
color: #fff; font-size:14px; font-style:normal; font-family: 'itc_lubalin_graph_stddemi'; text-transform:uppercase; margin: 8px 0 0 12px;}
#skill li small { float: right; font-family: 'SourceSansProLight'; font-size:16px; margin:8px 12px 0 0;}
#skill span { color:#fff; }
.expand {background:#333333;height: 42px;position: absolute;left: 0;}
.color-ch {background:#565656 !important;}
 
.html5       { width:70%;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;        }
.css3        { width:90%;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;         }
.jquery      { width:50%; -moz-animation: jquery 2s ease-out;   -webkit-animation: jquery 2s ease-out;      }
.photoshop   { width:80%;  -moz-animation:photoshop 2s ease-out;   -webkit-animation:photoshop 2s ease-out;    }
.dreamweaver { width:100%; -moz-animation:dreamweaver 2s ease-out; -webkit-animation:dreamweaver 2s ease-out;  }
 
@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}   }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes photoshop   { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes dreamweaver { 0%  { width:0px;} 100%{ width:100%;} }
 
@-webkit-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;} }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:50%;} }
@-webkit-keyframes photoshop   { 0%  { width:0px;} 100%{ width:80%;} }
@-webkit-keyframes dreamweaver { 0%  { width:0px;} 100%{ width:100%;} }

#content .right-sec .sub-tags{
	margin:30px 0 0 0px;
	float:left;
}
#content .right-sec .sub-tags .all-tags{
	margin:20px 0 0 0px;
}
#content .right-sec .sub-tags .all-tags a{
	border:solid 1px #B2B2B2;
	color:#535353;
	background:#fff;
	padding:10px 18px;
	margin: 2px 2px 0 0;
	float:left;
}
#content .right-sec .sub-tags .all-tags a:hover{
	background:#B2B2B2;
	color:#fff;
}
#content .right-sec .photography{
	margin:30px 0 0 0;
}
#content .post-detail{
}
#content .post-detail h2{
	text-transform:uppercase;
	margin:18px 0 0 0;
}
#content .post-detail span{
	font-size:12px;
	color:#909090;
	margin:10px 0 0 0;
	font-style:italic;
	background:none;
}
#content .post-detail p{
	margin:10px 0 0 0;
}
#content .post-detail .tag{
	margin:10px 0 0 0;
}
#content .post-detail .tag i{
	font-size:26px;
	float:left;
	margin: 10px 12px 0 0;
}
#content .post-detail .tag a{
	border:solid 1px #dbdbdb;
	color:#535353;
	background:#fff;
	padding:10px 18px;
	margin: 2px 2px 0 0;
	float:left;
}
#content .post-detail .tag a:hover{
	border:solid 1px #000;
	color:#000;
}
#content .post-detail img.share-btn{
	float:right;
	margin:10px 0 0 0;
}
#content .comments{
	margin:30px 0 0 0;
}
#content .comment-sec{
	border:solid 1px #dbdbdb;
	background:#fff;
	padding:20px 20px 15px 20px;
	margin:20px 0 0 0;
}
#content .comment-sec.sec2{
	width:588px;
	float:right;
}
#content .comment-sec.sec2 .text{
	width:464px;
}
#content .comment-sec .text{
	width:610px;
	float:left;
	margin:0 0px 0 24px;
}
#content .comment-sec .text span.title{
	font-size:16px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .comment-sec .text p{
	border-top:solid 1px #dbdbdb;
	margin:10px 0 0 0;
	padding:10px 0 0 0;
}
#content .comment-sec span.admin-date{
	font-size:12px;
	color:#909090;
	margin:0 0 0 10px;
	font-family: 'SourceSansProLight';
}
#content .comment-sec a.reply{
	font-size:14px;
	text-transform:uppercase;
	float:right;
	color:#333333;
}
#content .comment-sec a.reply:hover{
	color:#000;
}
#content .comment-sec img{
	float:left;
}
#content .leave-comment{

	margin:30px 0 0 0;
}
#content .leave-comment .form{
	margin:20px 0 0 0;
}
#content .leave-comment .form input[type=text]{
	float:left;
	width:360px;
	padding:0 10px;
	margin:0 12px 10px 0;
	background:#fff;
	border:solid 1px #dbdbdb;
	height:43px;
	color:#797979;
	font-size:14px;
	font-family: 'SourceSansProLight';
}
#content .leave-comment .form input[type=text].last{
	margin:0 0 0 0;
}
#content .leave-comment .form textarea{
	float:left;
	width:757px;
	padding:10px 10px;
	margin:0 12px 10px 0;
	background:#fff;
	border:solid 1px #dbdbdb;
	height:210px;
	color:#797979;
	font-size:14px;
	font-family: 'SourceSansProLight';
}
#content .travel img{
	margin:0 9px 9px 0;
}

#content .travel img.last{
	margin:0 0 9px 0;
}
a.submit{
	background:#333333;
	color:#fff;
	font-size:12px;
	padding:8px 30px;
	text-transform:uppercase;
	margin:12px 0 0 0;
	float:left;
	font-family: 'itc_lubalin_graph_stddemi';
}
a.submit:hover{background:#000;}

/*typography*/

#content .typography {
margin: 30px 0 0 0;
float: left;
}
#content .typography .headings{
	float:left;
	width:561px;
	margin:0 30px 20px 0;
}
#content .typography .headings.last{
	float:left;
	width:561px;
	margin:0 0 20px 0;
}
#content .typography .headings p{
	margin:10px 0 0 0;
}
#content .typography .headings h1{
	font-size:34px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .typography .headings h2{
	font-size:30px;

	text-transform:uppercase ;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .typography .headings h3{
	font-size:26px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .typography .headings h4{
	font-size:22px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .typography .headings h5{
	font-size:20px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .typography .headings h6{
	font-size:18px;

	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .highlight{
	margin:30px 0 0 0;
}
#content .highlight p{
	margin:20px 0 0 0;
}
#content .highlight span.red{
	background:#f91515;
	color:#fff;
	padding: 4px 5px;
}
#content .highlight span.yellow{
	background:#fcff00;
	padding: 4px 5px;
}
#content .highlight span.black{
	background:#333333;
	padding: 4px 5px;
	color:#fff;
}
#content .pragraph{
	margin:30px 0 0 0;
}
#content .pragraph p.normal{
	margin:20px 0 0 0;
	float:left;
	width:366px;
	text-align:justify;
}
#content .pragraph p.bold{
	margin:20px 0 0 36px;
	float:left;
	font-weight:bold;
	width:366px;
	text-align:justify;
}
#content .pragraph p.it{
	margin:20px 0 0 0;
	float:left;
	font-style:italic;
	width:366px;
	text-align:justify;
	float:right;
}
#content .list-style{
	margin:30px 0 0 0;
}

#content .list-style .style1{
	float:left;
	width:366px;
	margin:10px 46px 0 0;
}
#content .list-style .style1.style3{
	float:right;
	width:330px;
	margin:10px 0 0 0;
}
#content .list-style .style1 i{
	margin:0 10px 0 0;
	color:#333333;
}
#content .list-style .style1 span.light i{
	color:#707070;
	margin:0 10px 0 30px;
}
#content .list-style .style1 span.more-light i{
	color:#adadad;
	margin:0 10px 0 60px;
}
#content .list-style .style1 span{
	display:block;
	line-height:34px;
}
#content .images-style {
float: left;
margin: 30px 0 0 0;
}
#content .images-style .left-img{
	margin:30px 0 0 0;
	float:left;
}
#content .images-style .left-img img{
	float:right;
	padding: 0 0 0 28px;
}
#content .images-style .left-img p{
	float:left;
	font-size:16px;
	
}
#content .images-style .right-img{
	margin:30px 0 0 0;
	float:left;
}
#content .images-style .right-img img{
	float:left;
	padding: 0 28px 0 0;
}
#content .images-style .right-img p{
	float:right;
	font-size:16px;
	
}
#content .images-style .img-3sec{
	float:left;
	width:374px;
	margin:30px 24px 0 0;
}
#content .images-style .img-3sec.last{
	margin:30px 0 0 0px;
}
#content .images-style .img-3sec img{
	margin:0 0 15px 0;
	width:100%;
}
#content .images-style .img-sec2{
	float:left;
	width:570px;
	margin:30px 24px 0 0;
}
#content .images-style .img-sec2.last{
	margin:30px 0px 0 0;
}
#content .images-style .img-sec2 img{
	margin:0 0px 15px 0;
	width:100%;
}
#content .message-box {
margin: 30px 0 0 0;
width: 100% !important;
float: left;
}
#content .message-box .box-style{
	border: solid 1px #e3e3e3;
	padding:15px;
	margin:10px 0 0 0;
}
#content .message-box .box-style i{
	padding:0 12px 0 0;
}
#content .main img{
	width:100%;
}


/*404 error*/


#content .error .text{
	text-align:center ;
	margin:80px 0 0 0;
	text-transform:uppercase;
}
#content .error .text h1{
	font-size:58px;
	font-family: 'itc_lubalin_graph_stddemi';
}
#content .error .text span{
	font-size:20px;
	font-family: 'itc_lubalin_graph_stddemi';
	display:block;
	margin:0 0 20px 0;
}
#content .error .text a.read-more{
	float:none;
	margin:20px 0 0 0;
}
#content .error .item{
	margin:100px 24px 0 0;
}
#content .item .art-detail h3{ margin:10px 0 0 0;}
#content .error .item.last{
	margin:100px 0 0 0px;
}
#content .error .item h3{
	margin:12px 0 0 0px;
}
#content .error .item p{
	margin:0 0 12px 0px;
}
#content .error .item a.read-more{
	float:none;
}


/*contact us*/

#content .contact-us {
margin: 30px 0 0 0;
float: left;
}

#map{
    width: 100%;
    height: 488px;
	margin:20px 0 0 0;
}
#content .contact-form{
	margin:0 0 0 0;
	float:left;
	width:778px;
}
#content .contact-form p{
	margin:15px 0 0 0;
}
#content .get-touch{
	margin:30px 0 0 0;
	float:right;
	width:348px;
}
#content .get-touch .touch{
	margin:20px 0 0 0;
}
#content .get-touch a{
	line-height:41px;
	font-size:14px;
	font-family: 'itc_lubalin_graph_stddemi';
	color:#333333;
}
#content .get-touch i{
	width:30px;
	color:#333333;
	font-size:20px;
}
#content .get-touch i.fa-mobile{
	font-size:40px;
	margin: 7px 0 0 0;
	display:inline-table;
}
#content .get-touch i.fa-envelope{
	margin: 4px 0 0 0;
	display:inline-table;
}
#content .get-touch i.fa-globe{
	font-size:24px;
	display:inline-table;
	margin: 5px 0 0 0;
}
#content .get-social{
	margin:30px 0 0 0;
	float:right;
	width:348px;
}
#content .get-social .social-icons{
	margin:20px 0 0 0;
}
#content .get-social .social-icons a{
	background:#fff;
	border:solid 1px #dbdbdb;
	color:#333333;
	float:left;
	padding:12px 8px;
	margin: 5px 5px 0 0;
font-size: 20px;
}
#content .get-social .social-icons a:hover{
	border:solid 1px #ededed;
	color:#b0b0b0;
}
#content .get-social .social-icons i{
	width: 26px;
text-align: center;
}


/*columns*/

#content .columns {
float: left;
margin: 30px 0 0 0;
}
#content .columns .columns2{
	float:left;
	color:#f00;
	width:568px;
	margin:20px 34px 0 0;
	text-align:justify;
}
#content .columns .columns2.last{
margin:20px 0 0 0;
}
#content .columns .columns3{
	float:left;
	color:#f00;
	text-align:justify;
	width:370px;
	margin:20px 30px 0 0;
}
#content .columns .columns3.last{
	margin:20px 0 0 0;
}
#content .columns .columns4{
	float:left;
	color:#f00;
	text-align:justify;
	width:268px;
	margin:20px 32px 0 0;
}
#content .columns .columns4.last{
	margin:20px 0 0 0;
}
#content .columns .columns3-1{
	float:left;
	color:#f00;
	text-align:justify;
	width:768px;
	margin:20px 0 0 0;
}
#content .columns .columns4-1{
	float:left;
	color:#f00;
	text-align:justify;
	width:870px;
	margin:20px 0 0 0;
}
#content .singal-post .post-sec{
	width:777px;
	float:left;
	display:block;
	margin:30px 0 0 0;
}
#content .singal-post .post-sec img{
width:100%;	
}
.post-sec img{ width:100%; }
#content .singal-post .post-sec h3{
	margin:15px 0 0 0;
}
#content .singal-post .post-sec span{
	font-size:12px;
	color:#909090;
	font-style:italic;
	background:none;
	margin:3px 0 0 0;

}
#content .singal-post .post-sec p{
	margin:10px 0 0 0;
}
#content .tabs-toggle{
}
#content .toggles{
	float:left;
	width:568px;
	margin: 15px 34px 0 0;
}
#content .toggles.last{
	margin:15px 0 0 0;
}
#content .toggle2{
	margin:0 0 3px 0;
}
#content .toggle h3{
	font-size:14px;
	text-transform:uppercase;
	border-bottom:solid 2px #333333;
	cursor:pointer;
	padding: 13px 0;
}
#content .toggle h3.apple{
	background:#333333;
	color:#fff;
	padding:12px 10px;
}
#content .toggle.toggle2 i{
	color:#fff;
}
#content .toggle i{
	font-size:14px;
	color:#a5a5a5;
	float:right;
	text-transform:uppercase;
}
#content .toggle p{
	font-size:16px;
	color:#797979;
	margin: 15px 0 0 0;
text-align: justify;
}


.toggle div{
	display:none;
}
#tab1{
	margin:15px 0 0 0 ;
	float:left;
}
#tab2{
	margin:15px 0 0 0 ;
	float:right;
}

#tab3{
	margin:20px 0 0 0 ;
	float:right;
}

.etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #fff; border: solid 1px #d6d6d6; border-bottom: none; }
    .tab a { font-size: 14px;  display: block; padding:15px 27px; outline: none; text-transform:uppercase; font-family: 'itc_lubalin_graph_stddemi'; color:#838383;}
    .tab a:hover {background: #333333; color:#fff;}
    .tab.active { background: #333333;  position: relative;  border:none;}
    .tab a.active { color:#fff;}
#tab1 p{ font-size:16px; margin: 15px 0 0 0px; text-align:justify;}
#tab2 p{ font-size:16px; margin: 15px 0 0 0px; text-align:justify;}
#tab3 p{ font-size:16px; margin: 15px 0 0 0px; text-align:justify;}
    .tab-container .panel-container { background: #fff; border-top: solid #d6d6d6 1px;  width:568px; }
	#tab3.tab-container .panel-container { background: #fff; border-top: solid #d6d6d6 1px;  width:100%; }
    .panel-container { margin-bottom: 10px; }

   #tab2 .tab a:hover {background: #fff; color:#333333;}
    #tab2 .tab.active { background: #fff;  position: relative;  border:none;}
   #tab2 .tab a.active { color:#333333;}
#content .videos {
margin: 30px 0 0 0 !important;
float: left;
}
#content .videos .latest-videos{
	margin:10px 0 0 0;
}
#content .videos .latest-videos .latest-sec{
	float:left;
	width:372px;
	margin:20px 26px 0 0;
}
#content .videos .latest-videos .latest-sec.last{
	margin:20px 0 0 0;
}
#content .videos .latest-sec .v-player{ height:60px; width:60px; float:left; background:url(../images/player-icon.png) no-repeat; position:absolute; margin: 92px 0 0 165px;}
#content .videos .latest-sec h3{
	text-transform:uppercase;
	margin:15px 0 0 0;
}
#content .videos .latest-sec span{
	font-size: 12px;
color: #909090;
font-style: italic;
background: none;
}
#content .videos .latest-sec p{
	margin:10px 0 0 0;
}
#content .videos .most-comment{
	margin:30px 0 0 0;
}
#content .videos .most-comment .thre-sec{
	float:left;
	width:372px;
	margin:20px 26px 0 0;
}
#content .videos .most-comment .thre-sec.last{
	margin:20px 0 0 0;
}
#content .videos .most-comment .v-player{ height:60px; width:60px; float:left; background:url(../images/player-icon.png) no-repeat; position:absolute; margin: 92px 0 0 165px;}
#content .videos .most-comment h3{
	text-transform:uppercase;
	margin:15px 0 0 0;
}
#content .videos .most-comment span{
	font-size: 12px;
color: #909090;
font-style: italic;
background: none;
}
#content .videos .most-comment p{
	margin:10px 0 0 0;
}
#content .videos .most-comment .two-sec{
	float:left;
	width:572px;
	margin:20px 26px 0 0;
}
#content .videos .most-comment .two-sec .v-player{  height:60px; width:60px; float:left; background:url(../images/player-icon.png) no-repeat; position:absolute; margin: 134px 0 0 258px; }
#content .video-detail{
	width:1170px;
	height:658px;
}
#content .video-detail iframe{ width:100%; height:100%; border:none;}

#content .video-detail2 iframe{ width:100%; height:100%; border:none;}
#content .video-detail2{
	width:776px;
	
	height:436px;
}









.fluid_container {
    margin-top: 159px;
}

.smallheader #header{ position:fixed; left:0; top:-110px; width:100%; z-index:1000;-webkit-transition: all 800ms ease;
-moz-transition: all 800ms ease;
-ms-transition: all 800ms ease;
-o-transition: all 800ms ease;
transition: all 800ms ease;}
.smallheader .fluid_container{ margin-top:150px;}

.logo-small {
    float: left;
	display:none;
    margin-top: 18px; margin-right:10px;
}
.nav-full-width .wrapper-dropdown-5{ background: url("../images/menu-dark.jpg") repeat scroll 0 4px rgba(0, 0, 0, 0);border: 0 none;height: 49px;}
.nav-full-width .wrapper-dropdown-5.active .dropdown{ top:49px; background:#fff; right:0;}

.nav-full-width  .wrapper-dropdown-5.active{ background:url(../images/menu.jpg) repeat 0 4px;}
.nav-full-width .menu{ display:none;}
.smallheader .nav-full-width .menu, .smallheader .nav-full-width .logo-small{ display:block;}








.layout-four{
	margin:190px 0 0 0 !important; 
}
.layout-four.layout-five{
	margin:0 0 0 0 !important; 
}
.layout-four .sec-1 {
	float:left;
	width:280px;
}
.layout-four .sec-2{
	float:right;
	width:280px;
}
.layout-four h4{
	text-transform:uppercase;
	font-size:16px;
	font-family: 'itc_lubalin_graph_stddemi';
}
.layout-four .sec-1 .small{
	margin:0 0 20px 0;
}
.layout-four .sec-1 img{
	width:100%;
}
.layout-four .sec-1 .detail{
	background:#f8f8f8;
	border-bottom:solid 3px #d6d6d6;
	padding:15px 10px;
	margin:0 0 0 0;
	text-align:center;
}
.layout-four .latest-posts{
}
.layout-four .latest-posts h1{
	font-size:34px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
}
.layout-four .latest-posts .sec-1{
	float:left;
	width:48%;
	margin:25px 0 0 0;
}
.layout-four .latest-posts .sec-1.sec-2{
	float:right;
}
.layout-four .latest-posts .sec-1 img{
	width:100%;
}
.layout-four .latest-posts .sec-1 .posts-detail{
	margin:15px 0 0 0;
}
.layout-four .latest-posts .sec-1 .posts-detail h4{
	margin:0 0 10px 0;
}
.layout-four .acting{
	background:url(../images/layout-img7.jpg) no-repeat;
	margin: 30px 0 0 0;
	width:100%;
	height:388px;
	text-align:center;
}
.layout-four .acting span{
	font-size:42px;
	text-transform:uppercase;
	font-family: 'itc_lubalin_graph_stddemi';
	color:#fff;
	padding-top: 150px;
	display:block;
}
.layout-four .acting a.find-more{
	
background: #fff;
color: #333333;
font-size: 12px;
padding: 8px 30px;
text-transform: uppercase;
margin: 12px 0 0 0;
font-family: 'itc_lubalin_graph_stddemi';
}
.layout-four .three-posts{
	margin:30px 0 0 0;
}
.layout-four .three-posts .sec-1{
	float:left;
	width:372px;
	margin:0 26px 0 0;
}
.layout-four .three-posts .sec-2{
	margin:0px;
}
.layout-four .three-posts .sec-1 img{
	width:100%;
}
.layout-four .three-posts .sec-1 .detail-three{
	margin:15px 0 0 0;
}





