* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.filter-bar {
    display: flex; /* Подрежда всички групи на един ред */
    gap: 20px; /* Разстояние между групите */
    flex-wrap: wrap; /* Ако няма място, ще прехвърли елементи на нов ред */
    justify-content: center;  /* Подрежда групите в началото на контейнера */
}

.filter-group {
    display: ruby; /* Подрежда всички елементи на един ред */
    flex-direction: column; /* Подрежда лейбълите над полетата */
    align-items: flex-start; /* Подравнява елементите към началото на колоната */
    gap: 5px; /* Добавя разстояние между лейбъла и полето */
}

button {
    align-self: center; /* Центрира бутона спрямо другите елементи */
    padding: 10px 15px;
    cursor: pointer;
}

/* Галерия */
.gallery-track {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;
}

.card {
    height: 400px;
    overflow: hidden;
}

.card-image-wrapper {
    height: 135%;
    will-change: transform;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .gallery-track {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .gallery-track {
        grid-template-columns: repeat(1, 1fr);
    }
}