.card-image-wrapper {
    position: relative;
}

.filter-bar {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filter-group {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.filter-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-group input, .filter-group select {
    padding: 5px;
    width: 200px;
}

.filter-group button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.filter-group button:hover {
    background-color: #0056b3;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem; /* По-голям текст */
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Позициониране на текста над лентата */
    display: inline-block;
    white-space: wrap; /* Текстът няма да се пренася на нов ред */
}

.overlay-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5); /* Черна лента с 50% прозрачност за по-добър контраст */
    z-index: 1;
}

.animated-text span {
    display: inline-block;
    animation: bounce 1.5s ease-in-out infinite;
    font-size: 3rem; /* По-голям текст */
    font-weight: bold;
}

/* Анимация за всяка буква */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Подскачаща анимация */
    }
}

/* Задържане на анимацията за всяка буква */
.animated-text span:nth-child(1) { animation-delay: 0s; }
.animated-text span:nth-child(2) { animation-delay: 0.1s; }
.animated-text span:nth-child(3) { animation-delay: 0.2s; }
.animated-text span:nth-child(4) { animation-delay: 0.3s; }
/* Можеш да добавиш повече nth-child за по-дълги текстове */

.gallery-track {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;
}

.card {
    height: 400px;
    overflow: hidden;
}

.card-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}