a.img-effect {
    text-decoration: none;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
a.img-effect:hover {
    opacity: .7;
    -webkit-transform: scale(0.95,0.95);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(0.98,0.98);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;

}