<!doctype html>
<html>
<link href="../static/css/parallax.css" rel="stylesheet" type="text/css" th:href="@{/css/parallax.css}"/>
<head th:replace="~{fragments/head.html :: main-head}">

    <title>contests</title>
</head>

<body style="padding-top: 140px;">
<div id="wrap">

    <header id="header">
        <div id="searchBarAndLogo" th:replace="~{fragments/SearchBarAndLogo.html :: searchBarAndLogo}"></div>
        <nav th:replace="~{fragments/Navbar.html :: navBarMenu ('contests')}">
        </nav>

    </header>
</div>

<div class="clear"></div>
<div class="container" style="position: absolute">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Contests</h1>
        </div>
    <div class="content">
        <main class='gallery'>
            <div class='gallery-track'>
                <!-- Thymeleaf цикъл за зареждане на изображенията -->
                <div class='card' th:each="contest : ${contests}">
                    <div class='card-image-wrapper'>
                        <!-- Линк, който води към /contest/{id} -->
                        <a th:href="@{/contests/{id}(id=${contest.id})}">
                            <img th:src="'/images/contest-images/' + ${contest.getPhotoUrl()}" alt="Gallery image">
                            <div class="overlay-background"></div>
                            <div class="overlay-text animated-text">
                                <!-- Разделяне на буквите в span елементи за анимация -->
                                <span th:each="letter, iterStat : ${#strings.arraySplit(contest.title, '')}"
                                      th:text="${letter}"
                                      th:attr="style='animation-delay:' + (${iterStat.index} * 0.1) + 's'"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


</body>
<script>
    const gallery = document.querySelector('.gallery');
    const track = document.querySelector('.gallery-track');
    const cards = document.querySelectorAll('.card');
    const easing = 0.05;
    let startY = 0;
    let endY = 0;
    let raf;

    const lerp = (start, end, t) => start * (1 - t) + end * t;

    function updateScroll() {
        startY = lerp(startY, endY, easing);
        gallery.style.height = `${track.clientHeight}px`;
        track.style.transform = `translateY(-${startY}px)`;
        activateParallax();
        raf = requestAnimationFrame(updateScroll);
        if (startY.toFixed(1) === window.scrollY.toFixed(1)) cancelAnimationFrame(raf);
    }

    function startScroll() {
        endY = window.scrollY;
        cancelAnimationFrame(raf);
        raf = requestAnimationFrame(updateScroll);
    }

    function parallax(card) {
        const wrapper = card.querySelector('.card-image-wrapper');
        const diff = card.offsetHeight - wrapper.offsetHeight;
        const {top} = card.getBoundingClientRect();
        const progress = top / window.innerHeight;
        const yPos = diff * progress;
        wrapper.style.transform = `translateY(${yPos}px)`;
    }

    const activateParallax = () => cards.forEach(parallax);

    function init() {
        activateParallax();
        startScroll();
    }

    window.addEventListener('load', updateScroll, false);
    window.addEventListener('scroll', init, false);
    window.addEventListener('resize', updateScroll, false);
</script>
</html>