<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iMag99 | home page layout one</title>
    <link href="css/imag99.css" rel="stylesheet" type="text/css" />
    <link href="css/camera.css" rel="stylesheet" type="text/css" />
    <link href="fonts/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />


    <link href="css/demostyles.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/drop-down.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="js/jquery.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('#carousel').waltzer({scroll:1});
            $('#clients').waltzer({scroll:1});

        });

    </script>


    <script type="text/javascript" src="js/waltzerjs.js"></script>
    <script src="js/jquery.tabbedcontent.min.js"></script>
    <!--[if lt IE 9]>
    <script src="dist/html5shiv.js"></script>
    <![endif]-->
    <script>
        var tabs;
        jQuery(function($) {
            tabs = $('.tabscontent').tabbedContent().data('api');

            // switch to tab...
            $('a[href=#click-to-switch]').on('click', function(e) {
                var tab = prompt('Tab to switch to (number or id)?');
                if (!tabs.switchTab(tab)) {
                    alert('That tab does not exist :\\');
                }
                e.preventDefault();
            });

            // Next and prev actions
            $('.controls a').on('click', function(e) {
                var action = $(this).text().replace(/[^a-z]+/i, '').toLowerCase();
                tabs[action](true);
                e.preventDefault();
            });

            $(window).scroll(function() {
                var scroll = jQuery(window).scrollTop();
                if (scroll >= 40) {
                    $("#wrap").addClass("smallheader");
                }
                else {
                    $("#wrap").removeClass("smallheader");
                }
            });

        })(jQuery);

    </script>
    <script type='text/javascript' src='js/jquery.slider.js'></script>
    <script type='text/javascript' src='js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src=' js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='js/camera.min.js'></script>

    <script>
        jQuery(function($){

            $('#camera_wrap_4').camera({
                height: 'auto',
                loader: 'bar',
                pagination: false,
                thumbnails: false,
                hover: false,
                opacityOnGrid: false,
                imagePath: '../images/',
                time: 2000
            });

        })(jQuery);
    </script>
</head>

<body>
<div id="wrap">
    <header id="header">
        <div id="searchBarAndLogo" th:replace="~{fragments/searchBarAndLogo.html :: searchBarAndLogo}"></div>
        <nav th:replace="~{fragments/navbar.html :: navBarMenu ('login')}">
        </nav>

    </header>
    <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div th:each="photoPost : ${randomPhotoPosts}"
                     th:data-thumb="'/photo-posts-images/' + ${photoPost.getImage()}"
                     th:data-src="'/photo-posts-images/' + ${photoPost.getImage()}">
                    <div class="container">
                        <div class="banner-detail fadeFromBottom">
                            <h1 th:text="${photoPost.title}">Photo Title</h1>
                            <p th:text="${photoPost.description}">Photo Description</p>
                            <a class="more" th:href="@{'/photo-posts/' + ${photoPost.id}}">View Photo Post</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div id="content">
            <div class="strong">
                <div class="date">
                    <!-- Ensure formattedStartDate is properly set in the model -->
                    <span class="date-month" th:text="${formattedStartDate}">Jan, 10</span>
                    <!-- Ensure that randomContest.getStartDate().getYear() is not null -->
                    <span class="year" th:text="${newestContest.startDate.year}">2014</span>
                </div>
                <!-- Check if randomContest is not null and has the expected properties -->
                <div th:if="${newestContest}">
                    <a class="img-effect" th:href="@{'/contests/' + ${newestContest.id}}">
                        <!-- Ensure photoUrl is not null and points to the right location -->
                        <img th:src="'/contest-images/' + ${newestContest.photoUrl}" alt="" />
                    </a>
                    <h1 th:text="${newestContest.title}">Contest Title</h1>
                    <a th:href="@{'/contests/' + ${newestContest.id}}">View Contest</a>
                </div>
                <div class="clear"></div>
            </div>


            <div class="black-day">


                <a class="img-effect" href="video.html"><img src="images/black-friday.jpg" alt="" /></a>
                <div class="video">
                    <a href="video-detail.html">
                        <div class="v-player"></div>
                        <img src="images/main-video.jpg" alt="" />
                    </a>
                </div>
            </div>


            <div class="photography">
                <div class="date">
                    <span class="date-month">jan,10</span>
                    <span class="year">2014</span>
                </div>
                <a class="img-effect" href="photography.html"><img src="images/photography.jpg" alt="" /></a>
                <h1>photography</h1>
                <p>Completely free. No Credit Card required</p>
                <a class="more-photos" href="photography.html">see more photos</a>
                <div class="clear"></div>
            </div>


            <div class="clear"></div>

            <div class="recent-post">
                <div class="heading">
                    <h2>RECENT POSTS</h2>
                    <div class="clear"></div>
                </div>

                <div class="recent-sec">
                    <a class="img-effect" href="fashion.html" ><img src="images/beautiful-baby.jpg" alt="" /></a>
                    <h3>Beautifull babies photo</h3>
                    <span>Posted On January 12, 2014 | <span class="comments">3 Comments</span></span>
                    <p>It looks like slowly but surely Google’s Nexus devices are returning back to stock in the Google Play Store. Well, the Nexus 10 tablet is at least.
                        The Nexus 4 is still hard to catch, power of graphic design although it arrived earlier proceeded to lean on his horn drowning this week at Best. [...]</p>
                    <a href="fashion.html" class="read-more">read more</a>
                </div>

                <div class="recent-sec right">
                    <a class="img-effect" href="people.html"><img src="images/server.jpg" alt="" /></a>
                    <h3>Beautifull babies photo</h3>
                    <span>Posted On January 12, 2014 | <span class="comments">3 Comments</span></span>
                    <p>It looks like slowly but surely Google’s Nexus devices are returning back to stock in the Google Play Store. Well, the Nexus 10 tablet is at least.
                        The Nexus 4 is still hard to catch, power of graphic design although it arrived earlier proceeded to lean on his horn drowning this week at Best. [...]</p>
                    <a href="people.html" class="read-more">read more</a>
                </div>

            </div>


            <div class="tabs">

                <ul>
                    <li><a href="#tab-1">POPULAR</a></li>
                    <li><a href="#tab-2">recent</a></li>
                    <li><a href="#tab-3">tags</a></li>

                </ul>
                <div class="tabscontent">
                    <div id="tab-1">

                        <div class="popular">
                            <div class="bw pic"><a href="people.html"><img src="images/popular-img2.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>

                        <div class="popular">
                            <div class="bw pic"><a href="photography.html"><img src="images/popular-img3.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="photography.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>

                        <div class="popular">
                            <div class="bw pic"><a href="video.html"><img src="images/popular-img4.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>

                        <div class="popular">
                            <div class="bw pic"><a href="video.html"><img src="images/popular-img1.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>
                        <div class="clear"></div>

                    </div>
                    <div id="tab-2">
                        <div class="popular">
                            <div class="bw pic"><a href="video.html"><img src="images/popular-img4.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>

                        <div class="popular">
                            <div class="bw pic"><a href="video.html"><img src="images/popular-img3.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>

                        <div class="popular">
                            <div class="bw pic"><a href="video.html"><img src="images/popular-img2.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>

                        <div class="popular">
                            <div class="bw pic"><a href="video.html"><img src="images/popular-img1.jpg" alt="" /></a></div>
                            <div class="detail">
                                <a href="people.html"><h4>Server and network</h4></a>
                                <p>It looks like power slowly but surely...</p>
                                <span>January 12, 2014</span>
                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="tab-3">
                        <div class="tags">
                            <a href="#.">Business</a> <a href="#.">power</a> <a href="#.">wordpress</a> <a href="#.">photography</a> <a href="#.">graphi design</a>
                            <a href="#.">html5 & css3</a> <a href="#.">mobile</a> <a href="#.">logo</a> <a href="#.">responsive</a> <a href="#.">animations</a>
                            <a href="#.">Business</a> <a href="#.">art</a> <a href="#.">themeforest</a> <a href="#.">photography</a> <a href="#.">graphi design</a>
                            <a href="#.">html5 & css3</a> <a href="#.">mobile</a> <a href="#.">logo</a> <a href="#.">responsive</a> <a href="#.">animations</a>
                            <div class="clear"></div>
                        </div>
                        <div class="controls">
                        </div>
                    </div>

                </div>

            </div>

            <div class="clear"></div>
            <div class="latest-article">

                <div class="heading">
                    <h2>RECENT POSTS</h2>
                    <div class="clear"></div>
                </div>

                <div id="carousel" class='outerWrapper'>
                    <div class="item">
                        <a class="img-effect" href="travel.html"><img src="images/article-img1.jpg" alt="" /></a>
                        <div class="art-detail">
                            <h3>jigsaw Travertine Tile</h3>
                            <p>proceeded to lean on his horn drowning </p>
                            <a href="travel.html" class="read-more">read more</a>
                        </div>
                    </div>
                    <div class="item">
                        <a class="img-effect" href="video.html"><img src="images/article-img2.jpg" alt="" /></a>
                        <div class="art-detail">
                            <h3>jigsaw Travertine Tile</h3>
                            <p>proceeded to lean on his horn drowning </p>
                            <a href="video.html" class="read-more">read more</a>
                        </div>
                    </div>
                    <div class="item">
                        <a class="img-effect" href="fashion.html"><img src="images/article-img3.jpg" alt="" /></a>
                        <div class="art-detail">
                            <h3>jigsaw Travertine Tile</h3>
                            <p>proceeded to lean on his horn drowning </p>
                            <a href="fashion.html" class="read-more">read more</a>
                        </div>
                    </div>
                    <div class="item">
                        <a class="img-effect" href="photography.html"><img src="images/article-img4.jpg" alt="" /></a>
                        <div class="art-detail">
                            <h3>jigsaw Travertine Tile</h3>
                            <p>proceeded to lean on his horn drowning </p>
                            <a href="photography.html" class="read-more">read more</a>
                        </div>
                    </div>
                    <div class="item">
                        <a class="img-effect" href="video-detail.html"><img src="images/article-img5.jpg" alt="" /></a>
                        <div class="art-detail">
                            <h3>jigsaw Travertine Tile</h3>
                            <p>proceeded to lean on his horn drowning </p>
                            <a href="video-detail.html" class="read-more">read more</a>
                        </div>
                    </div>

                </div>

                <div class="clear"></div>

                <div id="clients" class='outerWrapper'>
                    <div class="item">
                        <div class="bw pic"><a href="#."><img src="images/client1.jpg" alt="" /></a></div>
                        <div class="art-detail">

                        </div>
                    </div>

                    <div class="item">
                        <div class="bw pic"><a href="#."><img src="images/client2.jpg" alt="" /></a></div>
                        <div class="art-detail">
                        </div>
                    </div>


                    <div class="item">
                        <div class="bw pic"><a href="#."><img src="images/client3.jpg" alt="" /></a></div>
                        <div class="art-detail">
                        </div>
                    </div>


                    <div class="item">
                        <div class="bw pic"><a href="#."><img src="images/client4.jpg" alt="" /></a></div>
                        <div class="art-detail">
                        </div>
                    </div>


                    <div class="item">
                        <div class="bw pic"><a href="#."><img src="images/client5.jpg" alt="" /></a></div>
                        <div class="art-detail">
                        </div>
                    </div>


                    <div class="item">
                        <div class="bw pic"><a href="#."><img src="images/client6.jpg" alt="" /></a></div>
                        <div class="art-detail">

                        </div>
                    </div>




                </div>


            </div>





        </div>


        <footer id="footer">

            <div class="newsletter">
                <div class="text">
                    <h1>Signup for our newsletter</h1>
                    <span>Never miss a deal, special discount offer and our new products</span>
                </div>

                <div class="email">

                    <input name="" type="text" onblur="if(this.value == '') { this.value='Enter your email address'}"
                           onfocus="if (this.value == 'Enter your email address') {this.value=''}" value="Enter your email address">
                    <a class="subscribe" href="#.">Subscribe</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div class="foot-sec">
                <div class="menu">
                    <span class="title">About mag</span>
                    <ul>
                        <li><a href="#.">Home</a></li>
                        <li><a href="#.">About Us</a></li>
                        <li><a href="#.">Location</a></li>
                        <li><a href="#.">Contact Us</a></li>
                    </ul>
                </div>

                <div class="menu menu2">
                    <span class="title">CATEGORIES</span>
                    <ul>
                        <li><a href="#.">Low Price Promise</a></li>
                        <li><a href="#.">Damages Policy</a></li>
                        <li><a href="#.">Terms and Conditions</a></li>
                        <li><a href="#.">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>


            <div class="foot-sec sec2">

                <div class="share">
                    <span class="title">Share Buttons</span>
                    <img src="images/share-button.png" alt="" />
                </div>

                <div class="payment">
                    <span class="title">payment method</span>
                    <img src="images/payment.jpg" alt="" />
                </div>

            </div>

            <div class="foot-sec sec3">

                <div class="contact">
                    <span class="number">Product Questions: 111-111-0002 or 222-222-3705</span>
                    <span class="number">Installation Questions: 111-222-1017</span>
                    <img src="images/bbb.jpg" alt="" />
                </div>



            </div>



        </footer>

    </div>
    <div class="clear"></div>

    <div class="foot-bot">
        <div class="container">
            <div class="social">
                <a href="#."><i class="fa fa-facebook"></i></a>
                <a href="#."><i class="fa fa-twitter"></i></a>
                <a href="#."><i class="fa fa-pinterest"></i></a>
                <a href="#."><i class="fa fa-google-plus"></i></a>
                <a href="#."><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Copyrights 2024 AI Photo Contest. All rights reserved.</p>

        </div>
        <div class="clear"></div>
    </div>




</div>



<script type="text/javascript">

    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents : function() {
            var obj = this;

            obj.dd.on('click', function(event){
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    jQuery(function($) {

        var dd = new DropDown( $('#dd, #dd2') );

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-5').removeClass('active');
        });

    })(jQuery);

</script>


</body>
</html>
